<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue - 2023</title>
  <!-- Bootstrap Style -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Salsa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body style="background: #dddddd;">
  <div id="app">
    <nav class="navbar navbar-expand-lg bg-warning">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="./index.html">目錄</a></li>
            <template  v-for="(page, index) in pages" :key="index">
              <li class="nav-item" v-if="page.is_active">
                <a class="nav-link" :aria-label="page.title" :href="page.link">{{ page.week }}</a>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2 class="text-center py-3 mb-0 fw-bold">Week 2 </h2>
      <div class="mb-5">
        <template v-if="loginStatus">
          <p class="text-center font-salsa h5">{{ welcomeMsg }}</p>
        </template>
        <template v-else>
          <p class="text-center text-danger font-salsa h5">{{ timeOutMsg }}</p>
        </template>
      </div>
      <div class="row">
        <div class="col-6">
          <table class="table rounded-3 overflow-hidden table-dark table-hover">
            <thead>
              <tr>
                <th width="250">產品名稱</th>
                <!-- <th width="200"></th> -->
                <th class="text-center">原價</th>
                <th class="text-center">售價</th>
                <th class="text-center">是否啟用</th>
                <th>查看細節</th>
              </tr>
            </thead>
            <tbody> 
              <tr v-for="product in products" :key="product.id">
                <td class="font-salsa">
                  {{ product.title}}
                </td>
                <!-- <td>
                  <img :src="product.imageUrl" alt="" style="width: 200px; height: 200px; object-fit: cover;">
                </td> -->
                <td class="text-center">
                  {{ product.origin_price }}
                </td>
                <td class="text-center">
                  {{ product.price }}
                </td>
                <td class="text-center">
                  <span class="text-success" v-if="product.is_enabled">啟用</span>
                  <span v-else>未啟用</span>
                </td>
                <td>
                  <button type="button" class="btn btn-secondary" @click="tempProduct = product">查看細節</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h2 class="font-salsa">單一產品細節</h2>
          <template v-if="tempProduct.title">
            <div class="card mb-3">
              <img :src="tempProduct.imageUrl" class="card-img-top primary-image object-fit-cover" alt="主圖">
              <div class="card-body">
                <h5 class="card-title">
                  {{ tempProduct.title }}
                  <span class="badge bg-primary ms-2">{{  }}</span>
                </h5>
                <p class="card-text">商品描述：{{ tempProduct.description }}</p>
                <p class="card-text">商品內容：{{ tempProduct.content }}</p>
                <div class="d-flex">
                  <p class="card-text me-2">{{ tempProduct.price }}</p>
                  <p class="card-text text-secondary"><del>{{ tempProduct.origin_price }}</del></p>
                  元 / {{ tempProduct.unit }}
                </div>
              </div>
            </div>
            <div>
              <template v-for="(image, index) in tempProduct.imagesUrl" :key=`${tempProduct.id}-${index}`>
                <img :src="image" :alt=`${tempProduct.title}-${index+1}` class="images m-2">
              </template>
            </div>
            <button class="btn btn-primary" type="button" @click="removeItem">清除選項</button>
          </template>
          <p v-else class="text-secondary">請選擇一個商品查看</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script type="module">
    // ES module Loading
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    import { pages } from "./js/nav.js";
    import axios from "https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/esm/axios.min.js";

    // const productAPI = `${url}/api/${path}/products/all`
    // console.log(productAPI);

    createApp({
      data() {
        return {
          pages,
          apiUrl: 'https://vue3-course-api.hexschool.io/v2',
          apiPath: 'delifans',
          loginStatus: true,
          user: {
            username: '',
            pawwdoed: ''
          },
          welcomeMsg: 'Welcome To Admin Products Page',
          timeOutMsg: 'Token Expired! Redirect To Login Page!',
          products: [],
          tempProduct: {}
        }
      },
      methods: {
        checkAdmin() {
          axios.post(`${this.apiUrl}/api/user/check`)
            .then(res => {
              console.log(res.data);
              this.loginStatus = true
              this.getProducts()
            })
            .catch(err => {
              console.log(err.response.data.message);
              this.loginStatus = false
              setTimeout(() => {
                window.location = './week2-login.html'
              }, 1500);
            })
        },
        getProducts() {
          axios.get(`${this.apiUrl}/api/${this.apiPath}/admin/products/all`)
            .then(res => {
              console.log(res.data.products);
              this.products = {...res.data.products}
            })
            .catch(err=> {
              console.log(err);
            })
        },
        removeItem() {
          this.tempProduct = {}
        }
      },
      mounted() {
        const token = document.cookie.replace(
          /(?:(?:^|.*;\s*)hexVueToken\s*\=\s*([^;]*).*$)|^.*$/,
          "$1",
        );
        // console.log(token);
        axios.defaults.headers.common['Authorization'] = token;

        this.checkAdmin()
      }
    }).mount('#app')
  </script>
</body>

</html>